<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<div class="logout-button">
  <form action="/logout">
    <input type="submit" value="LOG OUT">
  </form>
</div>

  <p><h1><%= @family_name%> Kids:</h1></p>
  <% @kids.each do |kid| %>
 
  <ol>
    <li><a href="/kids/<%=kid.id%>"><%=kid.name%></a>
    <p> Nickname: <%=kid.nickname%></p>
    <p> Gender: <%=kid.gender%></p>
    <li> Birthdate: <%=kid.birthdate%></li>
    </li>
    <br>
    <% end %>
  </ol>
  <form action="/kids/new">
    <input type="submit" value="Add a Kid Profile">
  </form>
  <br>
  <form action="/homepage">
    <input type="submit" value="Back to Kid Central Homepage">
  </form>
<br>
<br>
<br>
</body>
</html>