<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<p><a href="/logout">LOG OUT</a></p>
  <p><h1><%= @kid.name%> <%=@kid.user.family_name%></h1></p>
    <h3>Nickname: <%=@kid.nickname%></h3>
    <br>
    <h3>Gender: <%=@kid.gender%></h3>
    <br>
    <h3>Birthdate: <%=@kid.birthdate%></h3>
    <br>
    <p><form action="/kids/<%= @kid.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    </p>
    <br>
    <br>
    <br>

  <form action="/kids/<%= @kid.id %>/edit">
  <input type="submit" value="Edit this Profile">
  </form>
  <br>
  <form action="/kids">
  <input type="submit" value="Go Back to All Kids">
  </form>
  <br>
  <form action="/homepage">
    <input type="submit" value="Back to Kid Central Homepage">
  </form>
</body>
</html>