<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<div class="logout-button">
<p><a href="/logout">LOG OUT</a></p>
</div>
  <p><h1><%= @event.name %></h1></p>
    <h3>Date: <%=@event.date.strftime('%a, %b %d %Y')%></h3>
    <br>
    <h3>Time: <%=@event.time.strftime('%I:%M')%></h3>
    <br>
    <h3>Location: <%=@event.location%></h3>
    <br>
    <h3>RSVP: <%=@event.rsvp%></h3>
    <br>
    <h3>Gift: <%=@event.gift%></h3>
    <br>
    <h3>Note: <%=@event.note%></h3>
    <br>
    <br>
    <p><form action="/events/<%= @event.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Event">
        </form>
    </p>
    <br>
    <br>
    <br>
  <form action="/events/<%= @event.id %>/edit">
    <input type="submit" value="Edit this Event">
  </form>
  <br>
  <form action="/events">
    <input type="submit" value="Back to All Events">
  </form>
  <br>
  <form action="/homepage">
    <input type="submit" value="Back to Kid Central Homepage">
  </form>
</body>
</html>